@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fefeff;
  --color-tan: #f4efed;
  --color-brand: #49b6ab;
  --color-tan-rgb: 244, 239, 237;
  --color-dawn: #f3e9fa;
  --color-dusk: #514375;
  --color-midnight: #31274a;
  --color-midnight-rgb: 49, 39, 74;
  --color-blue: #1d5bfc;
  --color-red: #ff5050;
  --color-yellow: #ffd542;
  --color-purple: #af43ff;
  --color-pink: #fdb2b7;
  --whitegray: #e5eff5;
  --yellow-sun: #fecd35;

  --shadow-sm: 0px 19px 53px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 10px 28px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 6px 16px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 3px 9px 0px rgba(var(--color-midnight-rgb), 0.075),
    0px 1px 4px 0px rgba(var(--color-midnight-rgb), 0.1);
  --shadow-md: 0px 2px 2px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.06),
    0px 15px 14px 0px rgba(var(--color-midnight-rgb), 0.08),
    0px 50px 46px 0px rgba(var(--color-midnight-rgb), 0.12);
  --shadow-xl: 0px 3px 2px 0px rgba(var(--color-midnight-rgb), 0.02),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 12px 10px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 22px 18px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 42px 34px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 100px 80px 0px rgba(var(--color-midnight-rgb), 0.07);

  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: var(--font-base);
  --font-display: "Manrope", var(--font-base);
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono;
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

html.dark-mode {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --ring: 212.7 26.8% 83.9%;
}


body,
html,
.app-container {
  @apply h-screen;
}

.app-container {
  @apply bg-slate-100 grid place-items-center;
}
