.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active .page-enter-active,
.page-leave-active {
  transition: opacity 1s ease;
}


body {
  /* These values can be overriden by specifying different custom properties on the body using JavaScript. */
  --brand-hue: 0;
  --brand-saturation: 78%;
  --brand-lightness: 50%;

  --light-threshold: 5%;
}

body {
  accent-color: hsl(var(--brand-hue), var(--brand-saturation), var(--brand-lightness));
}


body{ 
  --color-brand-50: hsl(var(--brand-hue), 5%, calc(100% - var(--light-threshold)));
  --color-brand-100: hsl(var(--brand-hue), 5%, calc(95% - var(--light-threshold)));
  --color-brand-200: hsl(var(--brand-hue), 15%, calc(88% - var(--light-threshold)));
  --color-brand-300: hsl(var(--brand-hue), 30%, calc(81% - var(--light-threshold)));
  --color-brand-400: hsl(var(--brand-hue), 40%, calc(67% - var(--light-threshold)));
  --color-brand-500: hsl(var(--brand-hue), 50%, calc(53% - var(--light-threshold)));
  --color-brand-600: hsl(var(--brand-hue), 50%, calc(48% - var(--light-threshold)));
  --color-brand-700: hsl(var(--brand-hue), 40%, calc(40% - var(--light-threshold)));
  --color-brand-800: hsl(var(--brand-hue), 25%, calc(31% - var(--light-threshold)));
  --color-brand-900: hsl(var(--brand-hue), 15%, calc(26% - var(--light-threshold)));
  --color-brand-950: hsl(var(--brand-hue), 10%, calc(15% - var(--light-threshold)));

  --color-verse-50: hsl(var(--brand-hue), 5%, calc(100% - var(--light-threshold)));
  --color-verse-100: hsl(var(--brand-hue), 5%, calc(95% - var(--light-threshold)));
  --color-verse-200: hsl(var(--brand-hue), 15%, calc(88% - var(--light-threshold)));
  --color-verse-300: hsl(var(--brand-hue), 30%, calc(81% - var(--light-threshold)));
  --color-verse-400: hsl(var(--brand-hue), 40%, calc(67% - var(--light-threshold)));
  --color-verse-500: hsl(var(--brand-hue), 50%, calc(53% - var(--light-threshold)));
  --color-verse-600: hsl(var(--brand-hue), 50%, calc(48% - var(--light-threshold)));
  --color-verse-700: hsl(var(--brand-hue), 40%, calc(40% - var(--light-threshold)));
  --color-verse-800: hsl(var(--brand-hue), 25%, calc(31% - var(--light-threshold)));
  --color-verse-900: hsl(var(--brand-hue), 15%, calc(26% - var(--light-threshold)));
  --color-verse-950: hsl(var(--brand-hue), 10%, calc(5% - var(--light-threshold)));
}

a {
  text-decoration: none;
}