.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active .page-enter-active,
.page-leave-active {
  transition: opacity 1s ease;
}

html {
  /* These values can be overriden by specifying different custom properties on the body using JavaScript. */
  --brand-hue: 30;
  --brand-saturation: 78%;
  --brand-lightness: 50%;

  --light-threshold: 5%;
  --dark-threshold: 0%;

  --home-tagline: hsl(var(--brand-hue),
      10%,
      calc(15% - var(--light-threshold)));
  --home-gradient-dark: hsl(var(--brand-hue),
      40%,
      calc(40% - var(--light-threshold)));
  --home-gradient-light: hsl(var(--brand-hue),
      40%,
      calc(67% - var(--light-threshold)));
}

body {
  accent-color: hsl(var(--brand-hue),
      var(--brand-saturation),
      var(--brand-lightness));
}

body {
  --color-brand-0: hsl(var(--brand-hue), 5%, 100%);
  --color-brand-50: hsl(var(--brand-hue),
      5%,
      calc(100% - var(--light-threshold)));
  --color-brand-100: hsl(var(--brand-hue),
      5%,
      calc(95% - var(--light-threshold)));
  --color-brand-200: hsl(var(--brand-hue),
      15%,
      calc(88% - var(--light-threshold)));
  --color-brand-300: hsl(var(--brand-hue),
      30%,
      calc(81% - var(--light-threshold)));
  --color-brand-400: hsl(var(--brand-hue),
      40%,
      calc(67% - var(--light-threshold)));
  --color-brand-500: hsl(var(--brand-hue),
      50%,
      calc(53% - var(--light-threshold)));
  --color-brand-600: hsl(var(--brand-hue),
      50%,
      calc(48% - var(--light-threshold)));
  --color-brand-700: hsl(var(--brand-hue),
      40%,
      calc(40% - var(--light-threshold)));
  --color-brand-800: hsl(var(--brand-hue),
      25%,
      calc(31% - var(--light-threshold)));
  --color-brand-900: hsl(var(--brand-hue),
      15%,
      calc(26% - var(--light-threshold)));
  --color-brand-950: hsl(var(--brand-hue),
      10%,
      calc(15% - var(--light-threshold)));

  --color-verse-0: hsl(var(--brand-hue), 0%, 20%);
  --color-verse-50: hsl(var(--brand-hue),
      5%,
      calc(100% - var(--light-threshold)));
  --color-verse-100: hsl(var(--brand-hue),
      5%,
      calc(95% - var(--light-threshold)));
  --color-verse-200: hsl(var(--brand-hue),
      15%,
      calc(88% - var(--light-threshold)));
  --color-verse-300: hsl(var(--brand-hue),
      30%,
      calc(81% - var(--light-threshold)));
  --color-verse-400: hsl(var(--brand-hue),
      40%,
      calc(67% - var(--light-threshold)));
  --color-verse-500: hsl(var(--brand-hue),
      50%,
      calc(53% - var(--light-threshold)));
  --color-verse-600: hsl(var(--brand-hue),
      50%,
      calc(48% - var(--light-threshold)));
  --color-verse-700: hsl(var(--brand-hue),
      40%,
      calc(40% - var(--light-threshold)));
  --color-verse-800: hsl(var(--brand-hue),
      25%,
      calc(31% - var(--light-threshold)));
  --color-verse-900: hsl(var(--brand-hue),
      15%,
      calc(26% - var(--light-threshold)));
  --color-verse-950: hsl(var(--brand-hue),
      10%,
      calc(5% - var(--light-threshold)));
}

body[color-scheme="dark"] {
  --color-brand-0: hsl(var(--brand-hue),
      8%,
      calc((var(--dark-threshold) * -1) + 12%));
  --color-brand-50: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold) * -1) + 45%));
  --color-brand-100: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold) * -1) + 40%));
  --color-brand-200: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold) * -1) + 35%));
  --color-brand-300: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold) * -1) + 30%));
  --color-brand-400: hsl(var(--brand-hue),
      10%,
      calc((var(--dark-threshold) * -1) + 25%));
  --color-brand-500: hsl(var(--brand-hue),
      10%,
      calc((var(--dark-threshold) * -1) + 20%));
  --color-brand-600: hsl(var(--brand-hue),
      8%,
      calc((var(--dark-threshold) * -1) + 15%));
  --color-brand-700: hsl(var(--brand-hue),
      8%,
      calc((var(--dark-threshold) * -1) + 10%));
  --color-brand-800: hsl(var(--brand-hue),
      7%,
      calc((var(--dark-threshold) * -1) + 5%));
  --color-brand-900: hsl(var(--brand-hue),
      7%,
      calc((var(--dark-threshold) * -1) + 5%));
  --color-brand-950: hsl(var(--brand-hue),
      7%,
      calc((var(--dark-threshold) * -1) + 0%));

  --color-verse-0: hsl(var(--brand-hue), 0%, 80%);
  --color-verse-50: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold)) + 85%));
  --color-verse-100: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold)) + 80%));
  --color-verse-200: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold)) + 75%));
  --color-verse-300: hsl(var(--brand-hue),
      11%,
      calc((var(--dark-threshold)) + 70%));
  --color-verse-400: hsl(var(--brand-hue),
      10%,
      calc((var(--dark-threshold)) + 65%));
  --color-verse-500: hsl(var(--brand-hue),
      50%,
      calc((var(--dark-threshold)) + 60%));
  --color-verse-600: hsl(var(--brand-hue),
      8%,
      calc((var(--dark-threshold)) + 55%));
  --color-verse-700: hsl(var(--brand-hue),
      8%,
      calc((var(--dark-threshold)) + 50%));
  --color-verse-800: hsl(var(--brand-hue),
      7%,
      calc((var(--dark-threshold)) + 45%));
  --color-verse-900: hsl(var(--brand-hue),
      7%,
      calc((var(--dark-threshold)) + 45%));
  --color-verse-950: hsl(var(--brand-hue),
      7%,
      calc((var(--dark-threshold)) + 40%));
}

body[color-scheme="dark"] .bg-white {
  background-color: var(--color-verse-100);
}

a {
  text-decoration: none;
}

.prose.contain h1 {
  @apply text-verse-0;
}

.prose.contain p {
  @apply text-gray-500;
}

.contain {
  @apply px-5 sm:px-4 lg:mx-auto lg:max-w-[1220px];
}

/* Shadow definitions */
html {
  --shadow-color: var(--brand-hue) 36% 56%;

  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px hsl(var(--shadow-color) / 0.34);

  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px hsl(var(--shadow-color) / 0.34);
}