@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fefeff;
  --color-tan: #f4efed;
  --color-brand: #49b6ab;
  --color-tan-rgb: 244, 239, 237;
  --color-dawn: #f3e9fa;
  --color-dusk: #514375;
  --color-midnight: #31274a;
  --color-midnight-rgb: 49, 39, 74;
  --color-blue: #1d5bfc;
  --color-red: #ff5050;
  --color-yellow: #ffd542;
  --color-purple: #af43ff;
  --color-pink: #fdb2b7;

  --shadow-sm: 0px 19px 53px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 10px 28px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 6px 16px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 3px 9px 0px rgba(var(--color-midnight-rgb), 0.075),
    0px 1px 4px 0px rgba(var(--color-midnight-rgb), 0.1);
  --shadow-md: 0px 2px 2px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.06),
    0px 15px 14px 0px rgba(var(--color-midnight-rgb), 0.08),
    0px 50px 46px 0px rgba(var(--color-midnight-rgb), 0.12);
  --shadow-xl: 0px 3px 2px 0px rgba(var(--color-midnight-rgb), 0.02),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 12px 10px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 22px 18px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 42px 34px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 100px 80px 0px rgba(var(--color-midnight-rgb), 0.07);

  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: var(--font-base);
  --font-display: "Manrope", var(--font-base);
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono;
}

body,
html,
.app-container {
  @apply h-screen;
}

.app-container {
  @apply bg-brand-100 grid place-items-center;
}
