---
import { getDirectusClient}  from '../utils/directus-client';
import LayoutCustom from '../layouts/LayoutCustom.astro';

const directus = await getDirectusClient()
const response = await directus.items("Events").readByQuery({
  fields: ["*.*"],
})

const content = {
	title: "My event title",
  description: "my event description",
}

---

<LayoutCustom content={content}>
	<main>
		<section>
			Events
			<ul>
				{response.data.map((event) => (
					<li>							
						{ event.title }
					</li>
				))}
			</ul>
		</section>
	</main>
</LayoutCustom>