---
import Layout from "../layouts/LayoutHome.astro";

const title = "FAQ";
const description = "Frequently asked questions";
---

<Layout title={title} description={description}>
  <div>
    <!-- This example requires Tailwind CSS v3.0+ -->

    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
        <div class="mx-auto max-w-4xl text-center">
          <h2
            class="text-4xl font-extrabold xl:leading-tight text-verse-500 sm:text-5xl lg:text-5xl xl:text-6xl leading-10 tracking-tight text-gray-900"
          >
            Frequently asked questions
          </h2>
          <p class="mx-auto mt-6 max-w-2xl text-base leading-7 text-gray-600">
            Have a different question and can’t find the answer you’re looking
            for? Reach out to <a
              href="https://sandeep.ramgolam.com"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
            >
              our support team
            </a> and we’ll get back to you as soon as we can.
          </p>
        </div>
        <div class="mt-20">
          <dl
            class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:grid-cols-3 lg:gap-x-10"
          >
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                How to host a meetup ?
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quas cupiditate
                laboriosam fugiat.
              </dd>
            </div>
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                How to contact us?
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quas cupiditate
                laboriosam fugiat.
              </dd>
            </div>
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                What&#039;s the best thing about Frontend-Coder Maurtius?
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quas cupiditate
                laboriosam fugiat.
              </dd>
            </div>
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                What&#039;s the best thing about Frontend-Coder Maurtius?
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quas cupiditate
                laboriosam fugiat.
              </dd>
            </div>
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                What&#039;s the best thing about Frontend-Coder Maurtius?
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quas cupiditate
                laboriosam fugiat.
              </dd>
            </div>
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                What&#039;s the best thing about Frontend-Coder Maurtius?
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quas cupiditate
                laboriosam fugiat.
              </dd>
            </div>

            <!-- More questions... -->
          </dl>
        </div>
      </div>
    </div>
  </div>
</Layout>
