---
import Layout from "../layouts/LayoutHome.astro";
import { getCollection } from "astro:content";
import FaqRenderer from "../components/FaqRenderer.astro";
import BaseHeading from "../components/base/BaseHeading.astro";

const faqEntries = await getCollection("faqs");
const title = "FAQ";
const description = "Frequently asked questions";
---

<Layout title={title} description={description}>
  <div class="">
    <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
      <div class="mx-auto max-w-4xl text-center">
        <BaseHeading>Frequently asked questions</BaseHeading>
        <p
          class="mx-auto mt-6 max-w-2xl text-base leading-7 text-verse-600 dark:text-verse-300"
        >
          Have a different question and can’t find the answer you’re looking
          for? <a
            href="https://discord.gg/WxXW9Jvv6k?ref=frontend.mu
            "
            class="font-semibold text-verse-500 hover:text-verse-500"
          >
            Reach out to our community on discord
          </a> and someone might be able to help you!
        </p>
      </div>
      <main class="border bg-white shadow-md overflow-hidden mt-8 rounded-lg">
        <section class="grid grid-cols-1 divide-y">
          {faqEntries.map((faqEntry) => <FaqRenderer faqEntry={faqEntry} />)}
        </section>

        <script is:inline>
          // Get the hash from the URL
          const hash = window.location.hash.substring(1);

          // Get all the details elements on the page
          const detailsElements = document.querySelectorAll("details");

          // Loop through the details elements and check if the ID matches the hash
          for (let i = 0; i < detailsElements.length; i++) {
            const details = detailsElements[i];
            // console.log(details);
            if (details.id === hash) {
              // If the ID matches, set the "open" attribute and break out of the loop
              details.setAttribute("open", "");
              break;
            }
          }

          // Loop through the details elements and add a click event listener
          for (let i = 0; i < detailsElements.length; i++) {
            const details = detailsElements[i];
            details.addEventListener("click", function () {
              // When the details element is clicked, update the URL hash with the ID
              const id = details.getAttribute("id");
              history.pushState(null, null, "#" + id);

              for (let j = 0; j < detailsElements.length; j++) {
                const otherDetails = detailsElements[j];
                if (otherDetails !== details) {
                  otherDetails.removeAttribute("open");
                }
              }
            });
          }
        </script>
      </main>
    </div>
  </div>
</Layout>
