---
import LoginForm from "@components/auth/LoginForm.vue";
import LayoutHome from "../layouts/LayoutCustom.astro";

import LoginViaAuthProvider from "@components/LoginViaAuthProvider.vue";
import LogoFec from "@components/LogoFec.astro";
---

<LayoutHome>
  <div class="mx-auto w-full grid items-center">
    <div
      class="flex min-h-full flex-1 flex-col justify-center py-12 sm:px-6 lg:px-8"
    >
      <LoginForm client:only />
    </div>
  </div>
</LayoutHome>
