---
import Layout from "../layouts/LayoutCustom.astro";
import RefreshToken from "@components/auth/RefreshToken.vue";
---

<Layout>
  <div class="mx-auto w-full grid items-center text-center">
    <div class="flex flex-col justify-around">
      <div></div>
      <h2
        class="uppercase text-4xl font-extrabold xl:leading-tight text-verse-500 sm:text-5xl lg:text-5xl xl:text-6xl"
      >
        <span
          class="block font-sans text-black dark:text-verse-300 xl:inline capitalize font-mono"
        >
          welcome back
        </span>

        <RefreshToken client:only />
      </h2>
    </div>
  </div>
</Layout>
