---
import Layout from "../layouts/LayoutHome.astro";
import BaseHeading from "../components/base/BaseHeading.astro";
import ContentBlock from "@layouts/partials/ContentBlock.astro";

const title = "Frontend.mu Terms of Service";
const description = "Frontend.mu Terms of Service";
---

<Layout title={title} description={description}>
  <ContentBlock>
    <BaseHeading>Frontend.mu Terms of Service</BaseHeading>
    <div
      class="prose dark:prose-invert text-verse-600 dark:text-verse-300 py-4"
    >
      <p>
        Welcome to Frontend.mu, a community for developers in Mauritius who
        connect through regular physical meetups. Please carefully review these
        Terms of Service ("Terms") before using our website or attending any
        meetups.
      </p>

      <p>
        By accessing or using our website or attending any meetups, you agree to
        be bound by these Terms. If you disagree with any part of these Terms,
        you may not access or use our website or attend any meetups.
      </p>

      <h2>1. Eligibility</h2>

      <ul>
        <li>
          Any person who is interested in tech and software development is free
          to attend our meetups after going through the RSVP process.
        </li>
      </ul>

      <h2>2. User Accounts</h2>

      <ul>
        <li>Creating an account is required to RSVP for meetups.</li>
        <li>
          By creating an account, you agree to provide accurate and complete
          information and to keep your account information up-to-date.
        </li>
        <li>
          You are responsible for maintaining the confidentiality of your
          password and account and for any activity that occurs under your
          account.
        </li>
      </ul>

      <h2>3. Content and Conduct</h2>

      <ul>
        <li>
          You may not use our website or attend meetups for any illegal or
          unauthorized purpose.
        </li>
        <li>
          You may not post or share any content that is hateful, discriminatory,
          obscene, defamatory, or infringes on any third-party rights.
        </li>
        <li>You may not spam or solicit other users.</li>
        <li>
          You may not attempt to harm or interfere with our website or systems.
        </li>
      </ul>

      <h2>4. RSVP and Meetups</h2>

      <ul>
        <li>You must RSVP for each meetup you want to attend.</li>
        <li>We reserve the right to deny or revoke RSVPs at our discretion.</li>
        <li>Attendance at meetups is subject to space availability.</li>
        <li>
          You are responsible for your own transportation and other expenses
          related to attending meetups.
        </li>
      </ul>

      <h2>5. Intellectual Property</h2>

      <ul>
        <li>
          The source code of this website is open source and we encourage you to
          contribute and improve it.
        </li>
        <li>
          You may not use the personal information of people featured on our
          website for commercial purposes.
        </li>
      </ul>

      <h2>6. Disclaimer</h2>

      <p>
        Our website and meetups are provided "as is" and without warranty of any
        kind. We disclaim any liability for any damages arising out of your use
        of our website or attendance at meetups.
      </p>

      <h2>7. Indemnity</h2>

      <p>
        You agree to indemnify and hold us harmless from any claims, losses, or
        damages arising out of your use of our website or attendance at meetups.
      </p>

      <h2>8. Governing Law</h2>

      <p>
        These Terms shall be governed by and construed in accordance with the
        laws of Mauritius.
      </p>

      <h2>9. Entire Agreement</h2>

      <p>
        These Terms constitute the entire agreement between you and us regarding
        your use of our website and attendance at meetups.
      </p>

      <h2>10. Amendment</h2>

      <p>
        We may amend these Terms at any time by posting the amended Terms on our
        website. Your continued use of our website or attendance at meetups
        following the posting of amended Terms constitutes your acceptance of
        the amended Terms.
      </p>
    </div>
  </ContentBlock>
</Layout>
