---
const props = Astro.props;
---

<div class="grid grid-cols-4 items-center">
  {
    props.currentAlbum && props.currentAlbum.length > 0 &&
      props.currentAlbum.map((photo) => (
        <img
          src={`${props.source}/${photo}`}
          class="aspect-square object-cover object-center block"
          loading="lazy"
        />
      ))
  }
</div>
