---
const today = new Date();
---

<section>
	<div
		class="w-full bg-brand-950 border-gray-100 p-4 text-center text-gray-500 font-light text-xs md:text-normal"
	>
		{today.getFullYear()} -present Front-End Coders Mauritius
	</div>
</section>
