---
import HeaderLink from "./HeaderLink.astro";
import LogoFec from "../components/LogoFec.astro";
---

<div class="homepage-container -mt-32 pt-16 md:pt-0">
  <div class="homepage-wrapper">
    <main>
      <div class="relative z-0 h-[700px] w-full md:h-[850px] contain">
        <div
          class="relative z-20 mx-auto flex flex-col-reverse md:flex-row h-full justify-center"
        >
          <div
            class="flex flex-col justify-center  text-center md:text-left gap-10 md:w-2/3"
          >
            <h1 class="text-white font-extrabold text-4xl leading-tight sm:text-5xl lg:text-5xl xl:text-7xl" >Frontend <br/> Coders <br /> <span class="font-sans accent font-bold">Mauritius</span></h1>
            <p class="text-md md:text-lg text-gray-300 font-iosevka">
              Front-End Coders Mauritius is a community around front-end
              development based in Mauritius. We also organise monthly meetups
              free for anyone interested to attend.
            </p>
            <div class="grid place-items-center md:place-items-start">
              <HeaderLink
                href="/meetups"
                class="btn-meetup text-md block w-48 rounded-full px-4 py-4 text-center font-medium text-white md:w-52 md:px-6 md:text-lg"
              >
                View all meetups
              </HeaderLink>
            </div>
          </div>

          <div class="md:w-1/3 grid place-items-center">
            <div class="image-container">
              <div class="image-bg"></div>

              <LogoFec class="img-src text-white" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<style scoped>
  .homepage-container {
    background-color: var(--color-brand-950);
  }
  .image-container {
    position: relative;
    margin: 0 auto;
    --size: 100px;
    width: var(--size);
    height: var(--size);
    display: none;
  }

  .img-src {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: var(--size);
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    transform: translate(-50%, -50%);
  }

  @keyframes glow {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes lightup {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

  .image-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    filter: blur(75px);
    transform: translate(-50%, -50%);
    animation: lightup 0.5s linear forwards;
    opacity: 0;
    background-image: linear-gradient(
      -45deg,
      var(--home-gradient-dark) 50%,
      var(--home-gradient-light) 50%
    );
    /* transition: all 1s ease-in-out; */
  }

  .image-container:hover .image-bg {
    /* background-position: -300px -300px; */
    opacity: 0.5;
    transition: all 2s ease-in-out;
    animation: glow 4s ease-out infinite alternate;
  }

  .btn-meetup {
    background-color: var(--home-gradient-dark);
  }

  @keyframes swing {
    0% {
      -webkit-clip-path: ellipse(50px 50px at -2.54% -9.25%);
      clip-path: ellipse(50px 50px at -2.54% -9.25%);
    }
    /* 50% {
      -webkit-clip-path: ellipse(50px 50px at 49.66% 64.36%);
      clip-path: ellipse(50px 50px at 49.66% 64.36%);
    } */
    100% {
      -webkit-clip-path: ellipse(50px 50px at 102.62% -1.61%);
      clip-path: ellipse(50px 50px at 102.62% -1.61%);
    }
  }

  @media (min-width: 768px) {
    .image-container {
      --size: 400px;
      display: block;
    }
  }

  .accent {
  background: linear-gradient(
    135deg,
    rgb(210, 86, 53) 10%,
    #647eff 50%,
    rgb(238, 224, 112) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>
