---
// get current route astro
const currentPath = Astro.url.pathname;

// Object of all the links
const links = {
  about: {
    title: "About",
    href: "/about",
  },
  meetups: {
    title: "Meetups",
    href: "/meetups",
  },
  team: {
    title: "Team",
    href: "/team",
  },
  sponsors: {
    title: "Sponsors",
    href: "/sponsors",
  },
  github: {
    title: "Github",
    href: "https://github.com/Front-End-Coders-Mauritius",    
  },
};
---

<nav class="mr-4 pointer-events-auto">
  <ul
    class="flex px-3 text-sm font-medium rounded-full shadow-lg bg-white/90 text-zinc-800 shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
  >
    {
      Object.keys(links).map((item) => (
        <li>
          <a
            class:list={[
              "relative block px-3 py-2 transition hover:text-verse-500 dark:hover:text-verse-400",
            ]}
            title={links[item].title}
            href={links[item].href}
            target={links[item].href.includes("https") ? "_blank" : "_self"}
          >
            {links[item].title}
            {
              currentPath === links[item].href && (
                <span class="absolute bottom-0 left-0 right-0 h-1 bg-verse-500 dark:bg-verse-400 menu-border-transition"></span>
              )
            }
          </a>
        </li>
      ))
    }
  </ul>
</nav>
