---

---

<div class="dock-block sticky top-[90dvh]">
    <div class="contain">
        <div
            class="rounded-full flex items-center shadow-lg bg-white/90 text-zinc-800 shadow-zinc-800/5 ring-2 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/40 dark:text-zinc-200 dark:ring-white/10 min-h-[50px] h-[8dvh] max-h-[100px] py-[1dvh]"
        >
            <slot />
        </div>
    </div>
</div>
