---
import LogoFec from "../components/LogoFec.astro";
import ToggleTheme from "../components/toggle-theme.vue";
import MainMenu from "./MainMenu.astro";
import {
  CalendarIcon,
  ArrowTrendingUpIcon,
} from '@heroicons/vue/24/outline'
---

<div class="megamenu">
    <div class="wrapper">
      <div class="megamenu-brand">
        <LogoFec class="megamenu-brand__icon w-10" />
        <span class="hidden text-lg font-bold leading-none tracking-tighter md:text-3xl text-verse-500 md:block"  >
            frontend.mu
        </span>
      </div>
        <nav>
            <ul class="nav-links" >
              <li class="nav-link">
                <a class="nav-link-text" href="/about" >About</a>
              </li>
              <li class="nav-link">
                <a class="nav-link-text" href="/meetups">Meetups</a>
              </li>
              <li class="nav-link nav-link-dropdown">
                <a class="nav-link-text" href="#">Community</a>
                <div class="menu-dropdown">
                    <div class="menu-dropdown-item menu-dropdown-community">
                      <ul class="community-links" >
                        <li class="community-link discord-link"><a href="#"><span class="community-link-text">Discord</span><ArrowTrendingUpIcon class="h-6 w-6"/></a></li>
                        <li class="community-link whatsapp-link"><a href="#"><span class="community-link-text">WhatsApp</span><ArrowTrendingUpIcon class="h-6 w-6"/></a></li>
                        <li class="community-link instagram-link"><a href="#"><span class="community-link-text">Instagram</span><ArrowTrendingUpIcon class="h-6 w-6"/></a></li>
                        <li class="community-link linkedin-link"><a href="#"><span class="community-link-text">LinkedIn</span><ArrowTrendingUpIcon class="h-6 w-6"/></a></li>
                        <li class="community-link github-link"><a href="#"><span class="community-link-text">Github</span><ArrowTrendingUpIcon class="h-6 w-6"/></a></li>
                      </ul>
                  </div>
              </li>
              <li class="nav-link">
                <a class="nav-link-text" href="#">Events</a>
              </li>
              <li class="nav-link" >
                <a class="nav-link-text" href="#">Sponsors</a>
              </li>
              <li class="nav-link">
                <a class="nav-link-text" href="#">FAQ</a>
              </li>
              <!-- <li>
                <a class="nav-link" href="#">Attend A Meetup</a>
              </li>
              <li>
                <a class="nav-link" href="#">Sponsor A Meetup</a>
              </li> -->
            </ul>
          </nav>
    </div>
    <!-- <MainMenu />
    <ToggleTheme client:load /> -->
</div>

<script>
//   const logo = document.getElementById("logo");
//   logo.addEventListener("contextmenu", (e) => {
//     e.preventDefault();
//     window.location.href = "/branding";
//   });
</script>

<style lang="postcss">
    .megamenu {
        width: 80vw;
        height: 3.5rem; 
        transition: background-color .2s ease;
        margin-top: 10px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        backdrop-filter: blur( 14.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 50px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        .wrapper {
            height: 100%;
            width: 100%;
            padding: 10px 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .megamenu-brand {
              display: flex;
              justify-content: center;
              align-items: center;
              
              .megamenu-brand__icon {
                margin-right: 10px;
              }

            }

            nav {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;

                .nav-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .nav-link {
                      position: relative;
                      margin: 0 1px;
                      padding: 3px 15px;
                      transition: all 0.3s ease-in-out;
                      border-radius: 50px;
                      font-weight: 500;

                        .nav-link-text {
                          font-size: 1.1rem;
                          color: var(--color-verse-0);
                        }

                        &:hover {
                          background-color: var(--color-verse-100);

                          .nav-link-text {
                            color: var(--color-verse-500);
                          }

                           .menu-dropdown {
                              display: block;
                              opacity: 1;
                              clip-path: circle(100%);
                          }
                          
                        }
                    

                        .menu-dropdown {
                          position: absolute;
                          left: 50%;
                          transform: translateX(-50%);
                          background-color: transparent;
                          padding-top: 19px;
                          clip-path: circle(2% at 41% 0%);
                          opacity: 0;
                          transition: 0.2s ease;

                          .menu-dropdown-item{

                          }
                         
                        }

                        .menu-dropdown-community {
                            padding: 15px 10px;
                            background: white;
                            border-radius: 5px;

                            .community-links {
                              display:flex;
                              flex-direction: column;
                              align-items: flex-start;
                              justify-content: center;

                              .community-link {
                                width: 100%;
                                border-radius: 50px;
                                padding: 8px 15px;
                                margin-bottom: 2px;

                                a {
                                  display: flex;
                                  align-items: center;
                                  justify-content: space-between;

                                  span{
                                    display: inline-block;
                                    margin-right: 8px;
                                  }
                                }

                                &:last-child {
                                  margin-bottom: 0;
                                }

                                &:hover {
                                  &.discord-link {
                                    background-color: 	hsla(235, 87%, 65%, 0.167);

                                    svg{
                                      color: 	hsl(235, 86%, 65%);
                                    }

                                    .community-link-text{
                                      color: 	hsl(235, 86%, 65%);
                                    }
                                  }
                                

                                &.github-link{
                                  background-color: 	hsla(0, 0%, 20%, 0.167);

                                  svg{
                                    color: 	hsl(0, 0%, 20%);
                                  }

                                  .community-link-text{
                                    color: 	hsl(0, 0%, 20%);
                                  }
                                }

                                &.whatsapp-link{
                                  background-color: hsl(142, 70%,20%, 0.167);

                                  svg{
                                    color: 	hsl(142, 70%, 49%);
                                  }

                                  .community-link-text{
                                    color: 	hsl(142, 70%, 49%);
                                  }
                                }

                                &.instagram-link{
                                  background-color: hsl(319, 71%, 49%, 0.167);

                                  svg{
                                    color: 	hsl(319, 71%, 49%);
                                  }

                                  .community-link-text{
                                    color: 	hsl(319, 71%, 49%);
                                  }
                                }

                                &.linkedin-link{
                                  background-color: 	hsl(198, 100%, 35%, 0.167);

                                  svg{
                                    color: 		hsl(198, 100%, 35%);
                                  }

                                  .community-link-text{
                                    color: 		hsl(198, 100%, 35%);
                                  }
                                }

                              }

                              }
                            }

                        }
                    }

                    .nav-link-dropdown{
                      padding-right: 19px;
                        
                    }

                   .nav-link-dropdown:hover:after {
                    background: var(--color-verse-500);
                    transform: rotate(-50deg);
                    transition: 0.2s ease;
                   }

                   .nav-link-dropdown:hover:before {
                    background: var(--color-verse-500);
                    transform: rotate(48deg);
                    transition: 0.2s ease;
                   }

                   .nav-link-dropdown:not(:hover):after {
                    transition: 0.2s ease;
                   }

                   .nav-link-dropdown:not(:hover):before {
                    transition: 0.2s ease;
                   }


                    .nav-link-dropdown:after {
                      position: absolute;
                      top: 50%;
                      right: 4px;
                      content: "";
                      width: 8px;
                      height: 2px;
                      background: var(--color-verse-300);
                      border-radius: 30px;
                      transform: rotate(45deg);

                    }

                    .nav-link-dropdown:before {
                      position: absolute;
                      top: 50%;
                      right: 8px;
                      content: "";
                      width: 8px;
                      height: 2px;
                      background: var(--color-verse-300);
                      border-radius: 30px;
                      transform: rotate(-50deg);
                        
                    }
                }
            }
        }
    }

</style>

