---
import LogoFec from "../components/LogoFec.astro";
import ToggleTheme from "../components/toggle-theme.vue";
import MainMenu from "./MainMenu.astro";
import { CalendarIcon, ArrowTrendingUpIcon } from "@heroicons/vue/24/outline";

import ExternalLinkIcon from "~icons/carbon/launch";

// get current route astro
const currentPath = Astro.url.pathname;

interface TMenuItem {
  title: string;
  href: string;
  class?: string;
  children?: TMenuItem[];
}

interface TMenu {
  [key: string]: TMenuItem;
}

// Object of all the links
const links: TMenu = {
  about: {
    title: "About",
    href: "/about",
  },
  meetups: {
    title: "Meetups",
    href: "/meetups",
  },
  team: {
    title: "Team",
    href: "/team",
    class: "hidden md:block",
  },
  sponsors: {
    title: "Sponsors",
    href: "/sponsors",
    class: "hidden md:block",
  },
  github: {
    title: "Github",
    href: "https://github.com/Front-End-Coders-Mauritius",
    class: "hidden md:block",
  },
  community: {
    title: "Community",
    href: "/community",
    children: [
      {
        title: "Discord",
        href: "https://discord.gg/2YcJfXk",
        class: "discord-link",
      },
      {
        title: "WhatsApp",
        href: "https://chat.whatsapp.com/invite/0kQ2QX0ZQ0j1YQ4X6Q4Q4Q",
        class: "whatsapp-link",
      },
      {
        title: "Instagram",
        href: "https://www.instagram.com/frontendcoders/",
        class: "instagram-link",
      },
      {
        title: "LinkedIn",
        href: "https://www.linkedin.com/company/frontendcoders",
        class: "linkedin-link",
      },
    ],
  },
};
---

<div
  class="menu-wrapper flex justify-between contain sticky top-0 z-30 h-32 items-center"
>
  <div class="megamenu theme-light">
    <div class="wrapper">
      <div class="megamenu-brand">
        <a href="/">
          <LogoFec class="megamenu-brand__icon w-10" />
          <span
            class="hidden text-lg font-bold leading-none tracking-tighter md:text-3xl text-verse-500 md:block"
          >
            frontend.mu
          </span>
        </a>
      </div>
      <nav>
        <ul class="nav-links">
          <li class="nav-link nav-link-dropdown">
            <a class="nav-link-text" href="#">Community</a>
            <div class="menu-dropdown">
              <div
                class="menu-dropdown-item menu-dropdown-community theme-dark"
              >
                <ul class="community-links">
                  <li class="community-link discord-link">
                    <a href="#"
                      ><span class="community-link-text">Discord</span
                      ><ArrowTrendingUpIcon class="h-6 w-6" /></a
                    >
                  </li>
                  <li class="community-link whatsapp-link">
                    <a href="#"
                      ><span class="community-link-text">WhatsApp</span
                      ><ArrowTrendingUpIcon class="h-6 w-6" /></a
                    >
                  </li>
                  <li class="community-link instagram-link">
                    <a href="#"
                      ><span class="community-link-text">Instagram</span
                      ><ArrowTrendingUpIcon class="h-6 w-6" /></a
                    >
                  </li>
                  <li class="community-link linkedin-link">
                    <a href="#"
                      ><span class="community-link-text">LinkedIn</span
                      ><ArrowTrendingUpIcon class="h-6 w-6" /></a
                    >
                  </li>
                  <li class="community-link github-link">
                    <a href="#"
                      ><span class="community-link-text">Github</span
                      ><ArrowTrendingUpIcon class="h-6 w-6" /></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>

          {
            Object.keys(links).map((item) => (
              <li
                class:list={[
                  links[item].children && "nav-link-dropdown",
                  "nav-link",
                ]}
              >
                <a class="nav-link-text" href={links[item].href}>
                  {links[item].title}

                  {!!links[item].href.includes("https") && (
                    <ExternalLinkIcon
                      height="1em"
                      style="display: inline; vertical-align: text-bottom;"
                    />
                  )}
                  {currentPath === links[item].href && (
                    <span
                      style="view-transition-name: menubar"
                      class="absolute bottom-0 left-0 right-0 h-1 bg-verse-500 dark:bg-verse-400 menu-border-transition"
                    />
                  )}
                </a>

                {/* Dropdown */}
                {links[item].children && (
                  <div class="menu-dropdown">
                    <div class="menu-dropdown-item menu-dropdown-community theme-dark">
                      <ul class="community-links">
                        {links[item].children?.map((submenu) => (
                          <li class:list={[submenu.class, "community-link"]}>
                            <a href={submenu.href}>
                              <>
                                <div class="flex gap-2">
                                  {submenu.title}

                                  {!!submenu.href.includes("https") && (
                                    <ExternalLinkIcon />
                                  )}
                                </div>
                              </>
                            </a>
                          </li>
                        ))}
                      </ul>
                    </div>
                  </div>
                )}
              </li>
            ))
          }
        </ul>
        <slot name="dock-right" />
      </nav>
      <!-- <MainMenu />
    <ToggleTheme client:load /> -->
    </div>
  </div>
</div>

<script is:inline>
function makeHeaderSticky() {
  const header = document.querySelector(".menu-wrapper");
  if (!header) return;

  // Function to be called when the intersection changes
  function handleIntersection(entries) {
    entries.forEach((entry) => {
      if (!header) return;
      if (entry.isIntersecting) {
        header.classList.remove("intersect");
        console.log("intersecting");
      } else {
        header.classList.add("intersect");
        console.log("not intersecting");
      }
    });
  }

  // Options for the IntersectionObserver
  const options = {
    root: null, // Use the viewport as the root
    rootMargin: "-200px 0px 0px 0px", // Offset of -300px from the top
    threshold: 0, // Trigger the callback when even one pixel is visible
  };

  // Create the IntersectionObserver
  const observer = new IntersectionObserver(handleIntersection, options);

  // Target element that you want to observe
  const target = document.querySelector("#sticky-observer");

  if (!target) return;

  // Start observing the target element
  observer.observe(target);
}

// Call the function to make the .header class sticky
// makeHeaderSticky();

document.addEventListener("DOMContentLoaded", makeHeaderSticky);

document.addEventListener("astro:beforeload", makeHeaderSticky);
</script>

<style lang="postcss">
  .menu-wrapper {
    transition: all 0.2s ease-out;
  }
  .megamenu{
    transition: all 0.2s ease-out;
  }
  .intersect {
    @apply h-16;
  }

  .intersect .megamenu {
    background: rgb(228 227 227 / 72%);
    /* outline: 1px solid rgba(255,255,255,0.18); */
    box-shadow: 0px 0px 2px var(--color-verse-500);
    backdrop-filter: blur( 24px );
  }


  body[color-scheme="dark"] .intersect .megamenu {
    background: rgb(16 16 16 / 25%) ;
  }

  

  /* .theme-light {
    background: rgba(255,255,255,0);
    box-shadow: 0px 0px 0px rgba(255,149,5,0.1);
    border: 1px solid transparent;
    backdrop-filter: blur( 0px );
  }

  .theme-dark {
    background: rgb(228 227 227 / 72%);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0px 0px 2px var(--color-verse-500);
    backdrop-filter: blur( 14.5px );
  } */

  body[color-scheme="dark"] .theme-dark {
    background: rgb(16 16 16 / 25%) ;
  }

    .megamenu {
        width: 80vw;
        height: 3.5rem; 
        transition: all .5s ease;
        margin-top: 10px;
        position:relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        -webkit-backdrop-filter: blur(24px);
        border-radius: 50px;

        .wrapper {
            height: 100%;
            width: 100%;
            padding: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .megamenu-brand {
              padding-left: 3px;

              a{
                display: flex;
                justify-content: center;
                align-items: center;

                .megamenu-brand__icon {
                  margin-right: 10px;
                }
              }
              
              

            }

            nav {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                /* margin-top: 5px; */

                .nav-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .nav-link {
                      position: relative;
                      margin: 0 1px;
                      /* transition: all 0.3s ease-in-out; */
                      border-radius: 50px;
                      font-weight: 500;

                        .nav-link-text {
                          font-size: 1.1rem;
                          color: var(--color-verse-0);
                          padding: 5px 15px;
                          display:block;
                          font-weight: 600;
                        }

                        &:hover {
                          background-color: rgba(0,0,0,0.1);

                          .nav-link-text {
                            /* color: var(--color-verse-500); */
                          }

                           .menu-dropdown {
                              display: block;
                              opacity: 1;
                              clip-path: circle(100%);
                          }
                          
                        }
                    

                        .menu-dropdown {
                          position: absolute;
                          left: 50%;
                          transform: translateX(-50%);
                          background-color: transparent;
                          padding-top: 19px;
                          clip-path: circle(2% at 41% 0%);
                          opacity: 0;
                          transition: 0.2s ease;

                          .menu-dropdown-item{

                          }
                         
                        }

                        .menu-dropdown-community {
                            padding: 15px 10px;
                            border-radius: 5px;
                            color: white;

                            .community-links {
                              display:flex;
                              flex-direction: column;
                              align-items: flex-start;
                              justify-content: center;

                              .community-link {
                                width: 100%;
                                border-radius: 50px;
                                padding: 8px 15px;
                                margin-bottom: 2px;
                                cursor: pointer;

                                a {
                                  display: flex;
                                  align-items: center;
                                  justify-content: space-between;

                                  span{
                                    display: inline-block;
                                    margin-right: 8px;
                                  }
                                }

                                &:last-child {
                                  margin-bottom: 0;
                                }

                            }
                            }

                        }
                    }

                    .nav-link-dropdown{
                      padding-right: 19px;
                        
                    }

                   .nav-link-dropdown:hover:after {
                    background: var(--color-verse-500);
                    transform: rotate(-50deg);
                    transition: 0.2s ease;
                   }

                   .nav-link-dropdown:hover:before {
                    background: var(--color-verse-500);
                    transform: rotate(48deg);
                    transition: 0.2s ease;
                   }

                   .nav-link-dropdown:not(:hover):after {
                    transition: 0.2s ease;
                   }

                   .nav-link-dropdown:not(:hover):before {
                    transition: 0.2s ease;
                   }


                    .nav-link-dropdown:after {
                      position: absolute;
                      top: 50%;
                      right: 4px;
                      content: "";
                      width: 8px;
                      height: 2px;
                      background: var(--color-verse-300);
                      border-radius: 30px;
                      transform: rotate(45deg);

                    }

                    .nav-link-dropdown:before {
                      position: absolute;
                      top: 50%;
                      right: 8px;
                      content: "";
                      width: 8px;
                      height: 2px;
                      background: var(--color-verse-300);
                      border-radius: 30px;
                      transform: rotate(-50deg);
                        
                    }
                }
            }
        }
    }

</style>
