---
import ToggleTheme from "../components/toggle-theme.vue";
import RandomColor from "../components/RandomColor.astro";
import LoggedUser from "./auth/LoggedUser.vue";
import MainMenu from "./MegaMenu.astro";
---

<MainMenu transition:persist>
  <LoggedUser slot="dock-right" client:only />
  <RandomColor slot="dock-right" />
  <ToggleTheme slot="dock-right" client:only />
</MainMenu>
<div id="sticky-observer" class="bg-transparent z-0 h-4 w-full top-32 relative">
</div>

<script>
  const logo = document.getElementById("logo");
  if (logo) {
    logo.addEventListener("contextmenu", (e) => {
      e.preventDefault();
      window.location.href = "/branding";
    });
  }
</script>
