---
import LogoFec from "../components/LogoFec.astro";
import ToggleTheme from "../components/toggle-theme.vue";
import MainMenu from "./MainMenu.astro";
---

<div class="flex justify-between contain">
  <div class="flex justify-start logo-image">
    <a href="/" class="flex items-center justify-center gap-1 md:gap-2">
      <h1 class="sr-only">Front-end Coders Mauritius</h1>
      <LogoFec class="w-12" />
      <span
        class="hidden text-lg font-bold leading-none tracking-tighter md:text-3xl text-verse-500 md:block"
      >
        Front-End Coders
      </span>
    </a>
  </div>
  <div
    class="relative z-10 flex items-center justify-center h-32 col-span-3 bg-transparent"
  >
    <MainMenu />
    <ToggleTheme client:load />
  </div>
</div>
