---
import HeaderLink from "./HeaderLink.astro";
import LogoFec from "../components/LogoFec.astro";
import { SITE_TITLE } from "../config";
---

<div class="lg:mx-auto lg:max-w-[1400px] px-4 flex justify-between">
    <div class="logo-image flex justify-start ">
        <a href="/" class="flex justify-center items-center gap-1 md:gap-2">
          <h1 class="sr-only">Front-end Coders Mauritius</h1>
          <LogoFec class="w-16" />
          <span
            class="text-lg  leading-none font-bold md:text-3xl text-verse-500 tracking-tighter hidden md:block"
          >
            Front-End Coders
          </span>
        </a>
      </div>
      <div
        class="flex  justify-center items-center bg-transparent h-32 relative z-10 col-span-3"
      >
        <nav class="pointer-events-auto">
          <ul
            class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
          >
            <li>
              <a
                class="relative block px-3 py-2 transition hover:text-verse-500 dark:hover:text-verse-400"
                href="/about">About</a
              >
            </li>
            <li>
              <a
                class="relative block px-3 py-2 transition hover:text-verse-500 dark:hover:text-verse-400"
                href="/meetups">Meetups</a
              >
            </li>
            <li class="hidden md:block">
              <a
                class="relative block px-3 py-2 transition hover:text-verse-500 dark:hover:text-verse-400"
                href="/about#team">Team</a
              >
            </li>
            <li class="hidden md:block">
              <a
                class="relative block px-3 py-2 transition hover:text-verse-500 dark:hover:text-verse-400"
                href="/sponsors">Sponsors</a
              >
            </li>
            <li class="hidden md:block">
              <a
                class="relative block px-3 py-2 transition hover:text-verse-500 dark:hover:text-verse-400"
                href="https://github.com/Front-End-Coders-Mauritius">Github</a
              >
            </li>
          </ul>
        </nav>
      </div>      
</div>