---
const props = Astro.props;
---

<div>
  <ul role="list" class="flex flex-col gap-8 py-8">
    {
      props.sessions.map((session, index) => {
        return (
          <li>
            <a
              href={`/speaker/${session.Session_id.speakers.id}`}
              class="space-y-4 flex gap-10"
            >
              <img
                class="h-20 w-20 rounded-full lg:h-24 lg:w-24"
                src={
                  session.Session_id.speakers.github_account
                    ? "https://github.com/" +
                      session.Session_id.speakers.github_account +
                      ".png"
                    : "https://i.pravatar.cc/300"
                }
                alt=""
              />

              <div class="space-y-2">
                <div>
                  <h3 class="text-xs font-medium lg:text-xl text-verse-500">
                    {session.Session_id.speakers.name}
                  </h3>
                  <p class="text-xs font-medium lg:text-2xl">
                    {session.Session_id.title}
                  </p>
                </div>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
