---
import BackgroundShapes from "../components/BackgroundShapes.astro";

---

<div class="bg-slate-100 dark:bg-slate-900 relative min-h-[100dvh]" id="content">
    <div class="relative z-0">
        <BackgroundShapes />
    </div>
    <div class="relative z-10  min-h-[100dvh]">
        <slot />
    </div>
</div>