---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NewHeader.astro";
import Footer from "../components/Footer.astro";
import Sponsors from "../components/Sponsors.astro";
import OgImage from "../components/OgImage.astro";

// export interface Props {
// 	content: {
// 		title: string;
// 		description: string;
// 		pubDate?: string;
// 		updatedDate?: string;
// 		heroImage?: string;
// 	};
// }

const {
  title ,
  description = "Front-End Coders Mauritius is a community around front-end development based in Mauritius. We also organise monthly meetups free for anyone interested to attend.",
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <OgImage pageType="page" title={title} />
  </head>

	<body class="bg-brand-0">
    <div>
      <Header />

      <slot />

      <Sponsors />

      <Footer />
    </div>
  </body>
</html>
