---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NewHeader.astro";
import Footer from "../components/Footer.astro";
import Sponsors from "../components/Sponsors.astro";

const title = 'hi'
const description = 'hi'

const props = Astro.props


---

<html lang="en">
	<head>
		<BaseHead title={props.title} description={props.description} />
	</head>

	<body>
		<div>
			<Header />


			<slot />


			<Footer />
		</div>
	</body>
</html>