---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NewHeader.astro";
import Footer from "../components/Footer.astro";
import OgImage from "../components/OgImage.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
    <OgImage pageType="page" title="About" />
  </head>

  <body class="bg-brand-0">
    <div>
      <Header />

      <div class="contain min-h-[500px]">
        <div class="prose">
          <slot />
        </div>
      </div>

      <Footer />
    </div>
  </body>
</html>
