---
import LayoutHome from "../../layouts/LayoutHome.astro";
import AdminVerifyAttendee from "@components/auth/AdminVerifyAttendee.vue";

const props = Astro.params;

---

<LayoutHome pageType="home">
    <h2 class="text-center py-4 font-medium">
        Scan a QR Code to verify a user
    </h2>
    <AdminVerifyAttendee client:only />
</LayoutHome>
